body {
  font-family: Arial;
  margin: 40px;
}

section {
  margin-bottom: 30px;
}

input, select {
  margin: 5px;
  padding: 5px;
}

table {
  border-collapse: collapse;
  margin-top: 10px;
}

td, th {
  border: 1px solid #ccc;
  padding: 6px;
}
